*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "RobotoLight";
}

body {
  background: #fff;
  opacity: 0;
  transition: opacity 0.5s;
}
body.ready {
  opacity: 1;
}

strong {
  font-weight: normal;
  font-family: "RobotoMedium";
}

h1 {
  font-family: "RobotoMedium";
}
